/* style */

html, body{
	font-family: acumin-pro, sans-serif;
	font-weight: 300;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}
.h2, h2{
	color: #268fcc;
}
.btn-primary {
    color: #fff;
    background-color: #ff0055;
    border-color: #ff0055;
}
.navbar-light .navbar-nav .nav-link.active span, .navbar-light .navbar-nav .show>.nav-link span{
    color: rgba(0,0,0,.9);
    border-bottom: #a4df53 0.25em solid;
}
.bd-navbar {
    padding: 0.75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
#csi_tab{
	top: 10px;
	right: -10px;
	width: 20px;
	height: 40px;
	background-color: #a4df53;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
	background-image: url(../images/tab-lines.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-position: 75%;
  background-size: 20%;
}
#concept{
	width: 100%;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

circle{
	/*opacity: 40%;*/
	transition: all .2s ease-in-out;
}
circle:focus{
	outline: none;
}

.tier_label{
	fill: none;
  stroke: white;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  paint-order: stroke;
  font-weight: 600;
  text-transform: uppercase;
}
.tier-icon{
	background-repeat: no-repeat;
  background-size: 50px;
  transform: translate(-100%, 0%);
  width: 50px;
  height: 50px;
}
.tier-icon-1{
	background-image: url(../images/tier1-sm.svg);
}
.tier-icon-2{
	background-image: url(../images/tier2-sm.svg);
}
.tier-icon-3{
	background-image: url(../images/tier3-sm.svg);
}
.outline-text{
	font-weight: 600;
	font-size: 4em;
	color: #fff;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  opacity: .5;
}

#donate-button-container{
	  margin-bottom: -50px;
    background-color: #a4df53;
    padding: 50px;
}
.split {
  width: 100%;
  height:100%;

}

.si-center{
	background-color: #a4df53;
	position: relative;
}

.home .si-center{
	width: 30%;
	float: left;
	z-index: 1000;
}

.si-concept{
    background-image: url(../images/semi-circles.svg);
    background-repeat: no-repeat;
    background-size: 360px;
    background-position-x: -180px;
    background-position-y: 30%;
    color: #fff;
}
.home .si-concept{
	width: 70%;
	float: right;
}

.si-concept .col{
	position: relative;
}

#circles2{
	width: 50%;
	height: 50%;
	position: absolute;
	bottom: -10%;
	background-image: url(../images/semi-circles.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#csi_home{
	padding-top: 3rem;
}

/*#si_home{
    padding-top: 210px;
}*/

#csi_logo{
	margin-bottom: 20px;
	max-width: 320px;
}

.gutter {
  cursor: ew-resize;
  height:100px;
  background: red;
}

.navbar-brand img{
	width: 400px;
}

.big-image{
		background-image: url(../images/concert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.inner-page .big-image{
    background-size: 100%;
}
.board .inner-main-content img{
	float: left;
	max-width: 150px;
	margin: 8px 10px 0 0;
}

.home .big-image [class^='col']{
		margin-top: 100px;
		margin-bottom: 300px;
		padding-top: 100px;
		padding-bottom: 100px;
		background-color: #fff;
		position: relative;
}
.inner-main-content{
	padding: 5rem;
}
.arr-down img{
	width: 60px;
	height: 60px;
}
/*.bg-white{
	background-color: #fff;
}*/
.bg-green{
	background-color: #a4df53;
}
.bg-purple{
	background-color:rgba(57, 0, 82, 0.75);
}
.bg-yellow{
	background-color: #fee201;
}
.bg-orange{
	background-color: #fc7430;
}
.bg-blue{
	background-color: #268fcc;
}
.clr-green{
	color: #a4df53;
}
.clr-white{
	color: #fff;
}

.si-link{
	position: absolute;
	margin-top: -50px;
	right: 40px;
}

.si-link a::after{
	content: url(../images/blue-triangle.svg);
  width: 14px;
  position: absolute;
  top: 10px;
  margin-left: 5px;
}

.align-end{
	align-items: end!important;
}
.panels-menu.list-group-flush>.list-group-item {
	border-width: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (max-width: 992px) { 
	.home .big-image [class^='col']{
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			background-color: transparent;
	}
	.navbar-brand img{
		width: 220px;
	}
	.si-link{
		position:  relative;
		margin-top: unset;
		right: unset;
	}
	.inner-main-content{
		padding: unset;
		padding-top: 2rem;
	}
	#csi_home {
    padding-top: 0;
	}
	#csi_tab{
		display: none;
	}
	.home .si-center {
    width: 100%;
    min-height: unset!important;
    float: none; 
    padding: 20px;
  }
  .home .si-concept {
    width: 100%;
    float: none; 
    padding: 20px;
	}
	

}

/*COLORS

green #a4df53
blue #268fcc
yellow #fee201
orange #fc7430
purple #390052

*/

/* FONTS

Acumin Pro Bold

font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: normal;


Acumin Pro Bold Italic

font-family: acumin-pro, sans-serif;
font-weight: 700;
font-style: italic;


Acumin Pro Extra Light

font-family: acumin-pro, sans-serif;
font-weight: 200;
font-style: normal;


Acumin Pro Italic

font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: italic;


Acumin Pro Extra Light Italic

font-family: acumin-pro, sans-serif;
font-weight: 200;
font-style: italic;


Acumin Pro Light

font-family: acumin-pro, sans-serif;
font-weight: 300;
font-style: normal;


Acumin Pro Light Italic

font-family: acumin-pro, sans-serif;
font-weight: 300;
font-style: italic;


Acumin Pro Regular

font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
